
.first-animation {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .ball {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-left: 10px;
        background-color: hotpink;
        animation: ball 1.4s ease-in-out infinite;
        transform-origin: center center;
    }

    @for $num from 1 to 9 {
        .ball:nth-child(#{$num}){
            animation-delay: $num * .2s;
        }            
    }
    
    @keyframes ball {
        0% {
            transform: translateY(0) scale(1);
            background-color: blueviolet;
        }
        50% {
            transform: translateY(30px) scale(0.5);
            background-color: greenyellow;
        }
        100% {
            transform: translateY(0px) scale(1);
            background-color: hotpink;
        }
    }
}

.second-animation {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .square {
        height: 80px;
        width: 80px;
        border: 10px solid rebeccapurple;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: square 2s infinite;

        .circle {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 10px solid aqua;
            animation: circle 2s infinite;
        }
    }

    @keyframes square {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(180deg) scale(0.6);
            border-color: aqua;
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes circle {
        0% {
            transform: scale(1);
        }
        50% {
            border-color: rebeccapurple;
            transform: scale(0.8);
        }
        100% {
            transform: scale(1);
        }
    }
}

.third-animation {
        background: #3b5aa3;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

    #square {
        height: 150px;
        width: 150px;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 10px 10px 20px #1a2848;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #square::before {
        content: "";
        background: conic-gradient(
            white,
            transparent 90deg
        );
        width: 150%;
        height: 150%;
        position: absolute;
        animation: moving-border 3s linear infinite;   
    }

    #square::after {
        content: "";
        background-color: #3b5aa3;
        height: 90%;
        width: 90%;
        position: absolute;
        border-radius: 10px;
        box-shadow: inset 10px 10px 20px #1a2848;
    }

    @keyframes moving-border {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(-360deg);}
    }
}


.fourth-animation {
    background-color: rgb(41, 41, 41);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    .outer-circle {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: flex;
        box-shadow: 0px 0 20px 4px rgb(22, 22, 22);
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        .main-circle {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            background: radial-gradient(yellow 0%, red 40%, transparent 65%);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: glow 1.6s linear infinite;

            .inner-circle {
                height: 160px;
                width: 160px;
                border-radius: 50%;
                background-color: rgb(41, 41, 41);
                box-shadow: inset 0px 0 30px 10px rgb(22, 22, 22);
            }
        }
    }

    @keyframes glow {
        0% {
            height: 200px;
            width: 200px;
        }
        50% {
            height: 350px;
            width: 350px;
        }
        100% {
            height: 200px;
            width: 200px;
        }
    }
}

.fifth-animation {
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .moving-box {
        height: 150px;
        width: 150px;
        animation: moving-box 5s linear infinite;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .moving-ball {
            height: 30px;
            width: 30px;
            background-color: black;
            border-radius: 50%;
            animation: moving-ball 2s linear infinite;
        }
    }

    @keyframes moving-box {
        0% {transform: translateX(0px)}
        100% {transform: translateX(100vw);}
    }

    @keyframes moving-ball {
        0% {transform: translateY(0px);}
        50% {transform: translateY(120px);}
        100% {transform: translateY(0px);}
    }
}